.makingFeed{
  background: #F6F6F6;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write__container{
  border: 10px solid rgb(255, 255, 255);  
  /* border-radius: 30px; */
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
}

.photo__dragBox{
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* 이 부분 추가 */
  overflow: hidden;  /* 이미지가 밖으로 넘칠 경우 숨기기 위함 */
}

.photo__dragBoxIcon{
  font-size: 80px;
  padding: 120px;
  z-index: 1;  /* 아이콘을 이미지 위로 올림 */
}

.photo__inputFile{
  display: none;
  
}


.photo__dragBox img {

  width: 100%;
  height: 100%;
  object-fit: cover;  /* 이미지가 꽉 차게 보이도록 */
  position: absolute; /* 이미지를 부모 영역에 꽉 차게 고정시키기 위해 */
  top: 0;
  left: 0;
}

.photo__dragBoxImage{
  /* border-radius: 20px; */


}

.photo__previewDeleteBtn{
  top: -180px; /* 버튼의 상단 위치 */
  right: -180px; /* 버튼의 오른쪽 위치 */
}


.dragBox__text{
  opacity: 0.3;
  z-index: 1;  /* 텍스트를 이미지 위로 올림 */
}

.write__send{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  background: white;
  width: 400px;
}
.write__inputs{
  flex-direction: column;
  height: 100%;
  padding: 0 5px;
  width: 350px;
}
.write__inputs > ::placeholder{
  color: rgba(134, 77, 77, 0.413);
  font-style: italic;
}


.write__userName{
  /* border: 1px solid black; */
  border: none;
  height: 14px;
  width: 340px;
  outline: none;
  }
  
.write__textarea{
  /* border: 1px solid black; */
  border: none;
  width: 340px;
  height: 70px;
  resize: none;
}
.write__textarea:focus {
  outline:none;
}



.write__button{
  border: none;
  text-decoration: none;
  height: 100px;
  background: rgb(229, 205, 251);
  /* border-radius: 0  0 22px 0; */
}

.write__button:hover{
  opacity: 0.7;  
}


.Link{
  text-decoration: none;
  color: rgb(125, 125, 125);
  font-style: italic;
  font-weight: bold;
}



.write__inputFile{
  display: none;
}