.post{
  width: 550px;
  margin: 30px 40px 50px 40px;

}

.post__header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post__headerAuthor{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

.post__headerAuthor > span {
  color: rgb(172, 172, 172);
  font-size: 15px;
}

.post__button{
  border: none;
  background: lightgray;
  margin-left: 5px;
  padding: 5px;
}

.post__button:hover{
  opacity: 0.7;

}

.post__image > img{
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516) 
}

.post__footer{
}

.post__Icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  /* justify-content: space-between; */
}

.post__iconButton{ 
  border: none;
  background: none;
   /* mui아이콘 우측정렬! */
}

.post__iconButton:hover{
  cursor: pointer;
}

.post__num{
  display: flex;
}

.post__num div{
  padding:0px 10px 5px 0; 
}



.post__text { 
  border: 1px solid black;
  height: 100px;
}




.reply__area{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.reply_num{
  /* border: 1px solid black; */
  border: none;
  background: none;
  margin-left: 5px;
  /* font-style: italic; */
  font-size: 12px;
  color: rgba(95, 63, 63, 0.487);
  width: 130px;
  padding: 2px 0;
  margin: 0;
  text-align: left;
  text-decoration: underline;
}
.reply_num:hover{
  /* opacity: 0.7; */
}