

.homepage{
display: flex;
flex-direction: row;
}

.homepage__nav{
flex: 0.2;
}

.homepage__timeline{
flex: 0.8;
}











/* .homepage{
  display: flex;
  flex-direction: column;
  position: relative;
}

.homepage__nav{
  flex: 0.2;
}

.homepage__timeline{
  flex: 0.8;
}


.write__way{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 180px;
  top: 28px;
}

.write__button{
  border: 0;
  background: rgb(217, 217, 217);
  font-size: 16px;  
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

}

.write__button:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  
}


.Homapage__middle{
  display: flex;
  flex-direction: row;
} */
